svg{
  font-family:'Arial';
  font-size:12px;
  text-anchor:middle;
}
svg g.node:hover circle{
  stroke:rgb(232, 137, 137);
  stroke-width:5px;     
  fill:pink;
}
svg circle{
  fill:rgb(232, 137, 137)
}

g.node .titleText1{
  font-size:14px;
  font-weight: bold;
}
